[submodule "frontend"]
	path = frontend
	url = git@github.com:SentinelVote/frontend.git
[submodule "blockchain"]
	path = blockchain
	url = git@github.com:SentinelVote/blockchain.git
[submodule "backend"]
	path = backend
	url = git@github.com:SentinelVote/backend.git
