# IDE: Ignore everything.
.idea/*
.vscode/*
# IDE: Selectively allow files.
!.idea/misc.xml
!.idea/modules.xml
!.idea/monorepo.iml
!.idea/vcs.xml
!.vscode/extensions.json

# Ignore nested project configuration folders.
# Open the folder as a separate project/window if the configuration is needed.
*/**/.idea/
*/**/.vscode
!*/**/.vscode/extensions.json
fabricBlockchain
voterApp
website

# Binaries and packages.
**/*.wasm
**/a.exe
**/a.out
**/node_modules/

# Development VM
nixos.qcow2
go/pkg
.bash_history
.cache
.emscripten_cache
.lesshst
