[submodule "voterApp"]
	path = voterApp
	url = git@github.com:QuantumSecureVote/voterApp.git
[submodule "fabricBlockchain"]
	path = fabricBlockchain
	url = git@github.com:QuantumSecureVote/fabricBlockchain.git
[submodule "website"]
	path = website
	url = git@github.com:QuantumSecureVote/website.git
