# IDE: Ignore everything.
.idea/*
.vscode/*
# IDE: Selectively allow files.
!.idea/misc.xml
!.idea/modules.xml
!.idea/monorepo.iml
!.idea/vcs.xml
!.vscode/extensions.json

# Ignore nested project configuration folders.
# Open the folder as a separate project/window if the configuration is needed.
*/**/.idea/
*/**/.vscode
!*/**/.vscode/extensions.json
fabricBlockchain
voterApp
website

# Binaries and Dependencies (Packages/Libraries)
**/*.wasm
**/a.exe
**/a.out
**/go/pkg
**/node_modules/

# Development VM
*.qcow2
.bash_history
.cache
.emscripten_cache
.lesshst
